*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
    overflow-x: hidden;
}

h3{
    font-size: 24px;
}

p{
    font-size: 12px;
}

div.top-header{
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
}

a{
    text-decoration: none;
    color: #03264C;
}
a:hover{
    text-decoration: underline;
}
a:visited{
    color: #03264C;
}

div.last-visit,
div.offers{
    display: flex;
    flex-wrap: wrap;
}

.price{
    font-size: 18px;
    width: 30%;
}

.discount{
    width: 70%;
}

.discount,
.description{
    font-size: 16px;
    font-weight: normal;
}

h3,
.description{
    color: #666;
}

.description{
    opacity: 0;    
    transform: translateY(-100%);
    width: 100%;
}
article:hover .description{
    opacity:1;
    margin-top: 20px;
    transform: translateY(0);
}
section.banner{
    width: 100vw;
}
section.banner img{
    width: 100%;
}

main{
    width: 90%;
    margin: 0 auto;
}

main section article{
    background-color: #fff;    
    margin: 10px 0px;
    transition: box-shadow 0.5s;
}
main section article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}


main section article img{
    width: 100%;
}

main section article i,
.discount{
    color: #39b54a;
}

main section article i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}

main section h3{
    margin: 20px 0px;
}

.container{
    margin: auto;
    width: 90%;
    padding: 15px;
}
.container-footer{
    background-color: #EAC926;
    color: #03264C;
    margin: auto;
    display: grid;
    place-items: center;
    width: 100%;
    padding: 15px;    
}

article div.main-article{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    border-top: 1px solid #ebebeb;
    position: relative;
    padding: 15px;
}

/*MIS ELEMENTOS*/

.container-fluid{
    width: 100%;
}
.container{
    margin: auto;
    width: 90%;
    padding: 15px;
}
header{
    padding: 2rem;

    background-color: #EAC926;    
    width: 100vw;
    
    margin: 0;
    display: grid;
    place-items: center;
}
#encabezado{
    display: flex;
    flex-wrap: wrap;
}
#logo{
    width: 100%;
    height: auto;
}
#mensaje{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 1rem;
}
#navegacion{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
#navegacion form{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navegacion-input{
    width: 90%;
    padding: 5px;
    border: none;
}
#navegacion-buscar{   
    background-color: #ebebeb; 
    border: none;
    padding: 5px;
}
#navegacion-buscar:hover{   
    background-color: #ebebeb; 
    border: solid 1px #03264C;
    padding: 5px;
}
#navegador{
    display: none;
}

div.burger-menu{
    text-align: center;
}

div.burger-menu i{
    background-color: #0044AA;
    border-radius: 5px;
    color: #FFF;
    font-size: 20px;
    height: 40px;
    margin: 10px 0px 20px 0px;
    padding: 10px;
    width: 40px;
}

.lista1{
    padding: 5px;    
    margin: 0;    
    display: flex;
    flex-direction: row;   
    justify-content: flex-start; 
    list-style-type: none;
}
.lista1 li{
    margin-left: 20px;    
    font-size: 15px;
}
.lista2{
    padding: 5px;    
    margin: 0;
    display: flex;
    flex-direction: row;   
    justify-content: flex-end; 
    list-style-type: none;
}

.lista2 li{
    margin-left: 20px;
    font-size: 15px;
}
.burger-menu{
    display: inline;    
    background-color: var(--Celeste);    
    padding: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}
.burger-menu > i{   
    text-align: center;
    color: var(--Gris-Claro);
}

footer{
    margin-top: 15px;    
    background-color: #ffffff;
    width: 100vw;

    margin-left: 0;
    margin-right: 0;

    display: grid;
    place-items: center;
}

.tarjeta-formulario{
    background-color: #ebebeb;
    padding: 0px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    margin: 5vh 5vw;
    min-width: 300px;
    overflow-x: hidden;
}
.tarjeta-formulario .header{    
    background-color: #EAC926;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
}
.tarjeta-formulario form{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.tarjeta-formulario form.centrado{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tarjeta-formulario form input{
   margin: 20px; 
   padding: 5px 20px;
   font-size: 1.15rem;
   border: none;
   border-radius: 3px;
}
.tarjeta-formulario form input:hover{
    margin: 20px; 
    padding: 5px 20px;
    font-size: 1.15rem;
    border: 2px solid #1259c3;
    border-radius: 3px;
 }
.tarjeta-formulario form .grupo{
    display:inline-block;
 }
.tarjeta-formulario form label{
    margin: 20px; 
    padding: 5px 20px;
    font-size: 1.15rem;    
 }
 .tarjeta-formulario form button{
    background-color: #1259c3;
    color: white;
    border: none;
    outline: none;
    margin: 10px 5px; 
    padding: 15px 40px;
    font-size: 1.15rem; 
    transition: all 0.5s;   
 }
 .tarjeta-formulario form button:hover{
    background-color: #0022AA; 
 }

.texto{
    font-size: 20px;
}
.icono{
    display: block;
    font-size: 2em;
    margin-bottom: 15px;
    color: #1259c3;
    transition: all 0.5s;
}
.icono:hover{
    color:#EAC926;
}
.centrado{
    margin: 5px;
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.my{
    margin-top: 30px;
    margin-bottom: 15px;
}
.mt{
    margin: 0px;
    margin-top: 30px;
}
.mb{
    margin: 0px;
    margin-bottom: 30px;
}
.fa-truck:hover{
    animation-name: rotacion;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 1000ms;
}
@keyframes rotacion{
    from {transform : rotate(0deg);}
    to {transform : rotate(360deg);}
}


@media (min-width: 650px){
    .tarjeta-formulario{        
        margin: 5vh 15vw;
    }
    .description{
        opacity: 0;    
        transform: translateY(-100%);
        width: 100%;
    }
    article:hover .description{
        opacity:1;
        margin-top: 20px;
        transform: translateY(0);
    }

    main section div.products{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    main section div.products article{
        width: 45%;
    }


    
    .price,
    .discount{
        width: 50%;
    }

    #logo, #navegacion, #mensaje{
        width: 100%;
    }
    #navegador{
        padding: 0;
        margin: 15px;
        width: 95%;
        display: flex;
        flex-direction: row;   
        justify-content: space-between;
    }
    .burger-menu{
        display: none;
    }

}

@media (min-width: 769px){
    .tarjeta-formulario{        
        margin: 5vh 25vw;
    }
    .description{
        opacity: 0;    
        transform: translateY(-100%);
        width: 100%;
    }
    article:hover .description{
        opacity:1;
        margin-top: 20px;
        transform: translateY(0);
    }
    main section div.products article{
        width: 22%;
    }
    footer .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    #logo, #navegacion, #mensaje{
        width: 33%;
    }
    #mensaje p{
        font-size: 20px;
    }
    #navegador{
        width: 95%;
        padding: 0;
        margin: 15px;
        display: flex;
        flex-direction: row;   
        justify-content: space-between;
    }
    .burger-menu{
        display: none;
    }  
}